.calendarContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 320px;
  background-color: #fff;
  margin: 20px 0px 10px 20px;
  padding: 20px;
}

.react-calendar {
  border: none;
}

/*
.react-calendar {
  background-color: #fff;
  border: none;
  color: #aaa;
  font-size: 9px;
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__arrow {
  color: #373742;
  font-size: 9px;
}

.react-calendar__tile--now {
  border: 1px solid #fff;
  background-color: #fff;
  font-size: 9px;
}

.react-calendar__month-view__days__day {
  color: #7a7c8a;
  font-size: 9px;
}

.react-calendar__month-view__days__day--weekend {
  color: #7a7c8a;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #44444e;
}
*/